#map { 
  min-width: 210px; 
  height: 260px; 
}

#confirmation-map { 
  width: 100%; 
  height: 160px; 
}

p {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}

.ui-dialog .ui-header, .ui-dialog .ui-content, .ui-dialog .ui-footer { 
  max-width: 100%; 
}

.ui-dialog .ui-header {
  margin: 1% auto 0 auto;
}
